<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../partials/header") %>

  <h1><%= projetos.nome %></h1>

<p><b>Eixo responsável:</b> <%= projetos.eixo_time %></p>
<p><strong>Descrição:</strong> <%= projetos.descricao_longa %></p>

<a href="/projetos">Voltar</a>

</body>
</html>

