<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../partials/header") %>

  <h1>Notícias</h1>

    <ul>
    <% noticias.forEach(n => { %>
        <li>
        <a href="/noticias/<%= n.slug %>">
            <strong><%= n.nome %></strong> 
            <p><%= n.data %></p>
        </a>
        </li>
    <% }) %>
    </ul>

</body>
</html>