<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../partials/header") %>

  <h1><%= extensao.nome %></h1>

<p><%= extensao.descricao %></p>

<a href="/extensao">Voltar</a>

</body>
</html>

