<h1>Editar membro</h1>

<form
  action="/admin/membros/<%= membro.id %>/editar"
  method="POST"
>

  <input
    type="text"
    name="nome"
    value="<%= membro.nome %>"
  >

  <input
    type="text"
    name="cargo"
    value="<%= membro.cargo %>"
  >

  <input
    type="email"
    name="email"
    value="<%= membro.email %>"
  >

  <button type="submit">
    Salvar
  </button>

</form>