<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../partials/header") %>

  <h1>Raipédia</h1>

    <ul>
    <% artigos.forEach(a => { %>
        <li>
        <a href="/raipedia/<%= a.slug %>">
            <strong><%= a.nome %></strong>
        </a>
        </li>
    <% }) %>
    </ul>

</body>
</html>